* {
	box-sizing: border-box;
	background-size: cover;
}

html {
	height: 100%;
}

body {
	// padding: 30px;
	background: #f4e69f; /* Old browsers */
	background: -moz-linear-gradient(top,  #f4e69f 0%, #d17f80 47%, #7db9e8 78%, #f4e69f 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#f4e69f), color-stop(47%,#d17f80), color-stop(78%,#7db9e8), color-stop(100%,#f4e69f)); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top,  #f4e69f 0%,#d17f80 47%,#7db9e8 78%,#f4e69f 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top,  #f4e69f 0%,#d17f80 47%,#7db9e8 78%,#f4e69f 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top,  #f4e69f 0%,#d17f80 47%,#7db9e8 78%,#f4e69f 100%); /* IE10+ */
	background: linear-gradient(to bottom,  #f4e69f 0%,#d17f80 47%,#7db9e8 78%,#f4e69f 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f4e69f', endColorstr='#f4e69f',GradientType=0 ); /* IE6-9 */
// commented out for backbone work
	// background-size: cover;
	// height: 100%;
}



#page-contents {
	// min-height: 100%;
	padding: 30px;
	/* equal to footer height */
	// margin-bottom: -50px; 
}

// #page-contents:after {
//   content: "";
//   display: block;
// }
// .social-footer, .page-contents:after {
//   height: 50px; 
// }
// .social-footer {
// 	vertical-align: middle;
//   background: orange;
// }

h1 {

}

h3 {
	margin-bottom: 30px;
}

.center-text {
	text-align: center;
}

// Bootstrap style
.row {
	border-color: white;
}

.col-sm-1, .col-sm-2, .col-sm-3, .col-sm-4, .col-sm-5,.col-sm-6, .col-sm-7, .col-sm-8, .col-sm-9, .col-sm-10, .col-sm-11, .col-sm-12 {
	box-sizing: border-box;
	height: 100%;
	padding: 5px;
}

.content {
	background-size: cover;
	box-sizing: border-box;
	height: 100%;
	width: 100%;
	display: inline-block;
	// background-color: rgba(47, 118, 149, .8);
	position: relative;
	border: 5px solid rgba(255, 255, 255, .5);	
	// p {
	// 	position: absolute;   
 //   		top: 50%;        
 //   		left: 50%;
 //   		margin-right: -50%;
 //    	transform: translate(-50%, -50%);         
 //   		text-align: center;
 //   		margin: auto;
	// }
}

.test {
	padding: 0;
}

.content > * {
	color: white;
	text-align: center;
	vertical-align: middle;
}

.button:hover {
	cursor: pointer;
	// border-color: red;
	h3 {
		color: red;
	}
}

.tall-4 {
	// height: ;
}

.show {
	background-image: url("../img/square2.jpg");
}

.container { 
  width: 200px;
  height: 260px;
  position: relative;
  perspective: 800px;
}

.billboard {
	background-image: url('../img/LEO_glitter.jpg')
}

.flipper {
  width: 100%;
  height: 100%;
  position: absolute;
  transform-style: preserve-3d;
  transition: transform 1s;
}

.flipper div {
  display: block;
  position: absolute;
  width: 100%;
  height: 100%;
  // padding: 10px;
  backface-visibility: hidden;
}

.flipper {
	.front {
	  	background-image: url("../img/LEO_volcano.jpg");
		z-index: 2;
		height: 100%;
		background-size: cover;
		background-position: middle;
	}
	.front-1 {
		background-image: url("../img/leo_front.jpg");
	}
	.front-2 {
		background-image: url("../img/leo_feather.png");
	}
	.front-3 {
		background-image: url('../img/leo_piano.jpg');
	}
	.front-L {
		background-image: url('../img/LEO_L.png');
	}
	.front-E {
		background-image: url('../img/LEO_E.png');
	}
	.front-O {
		background-image: url('../img/LEO_O.png');
	}
}
.flipper {
	.back {
		// background-image: url("../img/leo_piano.jpg");
		height: 100%;
		width: 100%;
		// background-color: rgba(47, 118, 149, .5);
		transform: rotateY( 180deg );
		overflow: scroll;
		// padding: 5%;
	}
	.back-color {
		background-color: rgba(47, 118, 149, .5);		
	}
	.back-L {
		background-image: url('../img/LEO_L_Back.png');
	}
	.back-E {
		background-image: url('../img/LEO_E_Back.png');
	}
	.back-O {
		background-image: url('../img/LEO_O_Back.png');
	}
}

.flipper.flipped {
  transform: rotateY( 180deg );
}

.flipper.flipped-2 {
  transform: rotateY( 180deg );
}

.flipper.full-rotate {
  transform: rotateY( 360deg );
}

.flipper:hover {
  transform: rotateY( 180deg );
}

.tall-1 {}
.tall-2 {}
.tall-4 {}


@media all and (min-width: 768px)  {
	// .tall-1 {
	// 	color: red;
	// }
	.tall-2 {}
	.tall-4 {}
}

//////backbone
#purple-div{
  padding: 1em;
  border: 1px solid #CF00D9;
  background: #F3A0F7;
  color: #88008F;
}

// .flip-container {
//   -webkit-perspective: 1000;
//   -moz-perspective: 1000;
//   -o-perspective: 1000;
//   perspective: 1000;

// 	// border: 1px solid #ccc;
// }

// .flip-container:hover .flipper, .flip-container.hover .flipper {
// 	-webkit-transform: rotateY(180deg);
// 	-moz-transform: rotateY(180deg);
//     -o-transform: rotateY(180deg);
// 	transform: rotateY(180deg);
// 	}

// .flipped {
// 	-webkit-transform: rotateY(180deg);
// 	-moz-transform: rotateY(180deg);
//     -o-transform: rotateY(180deg);
// 	transform: rotateY(180deg);
// 	}


// .flip-container, .front, .back {
// 	width: 100%;
// 	height: 100%;
// }

// .flipper {
// 	height: 100%;
// 	-webkit-transition: 0.6s;
// 	-webkit-transform-style: preserve-3d;

// 	-moz-transition: 0.6s;
// 	-moz-transform-style: preserve-3d;
  
// 	o-transition: 0.6s;
// 	-o-transform-style: preserve-3d;

// 	transition: 0.6s;
// 	transform-style: preserve-3d;

// 	position: relative;
// }

// .front, .back {
// 	-webkit-backface-visibility: hidden;
// 	-moz-backface-visibility: hidden;
// 	-o-backface-visibility: hidden;
// 	backface-visibility: hidden;
// 	position: absolute;
// 	top: 0;
// 	left: 0;
// }





// .back {
// 	// background-image: url("../img/square3.jpg");
// 	height: 100%;
// 	background-color: rgba(47, 118, 149, .5);

// 	-webkit-transform: rotateY(180deg);
// 	-moz-transform: rotateY(180deg);
//     -o-transform: rotateY(180deg);
// 	transform: rotateY(180deg);

// 	// background: #f8f8f8;

// }

// #card.flipped {
// 		-webkit-transform: rotateY(180deg);
// 	-moz-transform: rotateY(180deg);
//     -o-transform: rotateY(180deg);
// 	transform: rotateY(180deg);
// }

// .tall {
// 	height: 33.33vh;
// }
// //end bootstrap style


// .col-sm-1, .col-sm-2, .col-sm-3, .col-sm-4, .col-sm-5,.col-sm-6, .col-sm-7, .col-sm-8, .col-sm-9, .col-sm-10, .col-sm-11, {
//     float:left;
//     position: relative;
//     width: 8%;
//     padding-bottom : 8%; /* = width for a 1:1 aspect ratio */
//     margin:.165%;
//     background-color: pink;
//     overflow:hidden;
//     clear: none;
// }



// .col-sm-1 {
// 	width: 8%;
//     padding-bottom : 8%; /* = width for a 1:1 aspect ratio */
//     margin:.165%;
//     background-color: red;
// }

// .col-sm-2 {
// 	width: 16.33%;
//     // padding-bottom : 16%; /* = width for a 1:1 aspect ratio */
//     margin:.165%;
//     background-color: yellow;
// }

// .col-sm-3 {
// 	width: 25;
//     // padding-bottom : 24%; /* = width for a 1:1 aspect ratio */
//     margin:.165%;
//     background-color: green;
// }

// .col-sm-4 {
// 	width: 32.66%;
//     // padding-bottom : 32%; /* = width for a 1:1 aspect ratio */
//     margin:.165%;
//     background-color: purple
// }

// .col-sm-6 {
// 	width: 49.32%;
//     // padding-bottom : 32%; /* = width for a 1:1 aspect ratio */
//     margin:.165%;
//     background-color: green;
// }

// .col-sm-12 {
// 	width: 100%;
//     // padding-bottom : 32%; /* = width for a 1:1 aspect ratio */
//     // margin:.165%;
// }

// .test {
// 	padding-bottom: 50%;
// 		.col-sm-6 {
// 			padding-bottom: 0;
// 		} 

// }

// .tall-2 {
// 	padding-bottom: 16.33%;
// 	background-color: orange;
// }

// .tall-4 {
// 	padding-bottom: 32.66%;
// 	background-color: blue;
// }

// .tall-6 {
// 	padding-bottom:  49.32%;
// 	background-color: light-blue;
// }

// .mini {
// 	height: 50%;
// }

// // .two-by-two {
// //         clear: none;
// //     width: 42%;
// //     padding-bottom : 42%; /* = width for a 1:1 aspect ratio */
// //     margin:.33%;
// // }

// .content {
//     position:absolute;
//     height:90%; /* = 100% - 2*5% padding */
//     width:90%; /* = 100% - 2*5% padding */
//     padding: 5%;
// }



// /*  For responsive images */

// .content .rs{
//     width:auto;
//     height:auto;
//     max-height:90%;
//     max-width:100%;
// }
// /*  For responsive images as background */

// .bg{
//     background-position:center center;
//     background-repeat:no-repeat;
//     background-size:cover; /* you change this to "contain" if you don't want the images to be cropped */
//     color:#fff;
// }
